-
    const dir = '../';

include ../../includes/head


<!-- Slide 2 (#02) -->
<section class="slide fade-6 kenBurns" data-title="Portada" data-name="slide-02-92b7f16f">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-3-12">
                    <h2  class="weight-7 expand raleway">SERVICIOS</h2>
                </div>
                <div class="button blue rounded cropBottom popupTrigger ae-2 fromCenter margin-top-3" data-popup-id="2"><i class="material-icons">play_circle_filled</i>Watch the Video</div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/front-claro.jpg)"></div>
</section>

<!-- Popup Video -->
<div class="popup autoplay" data-popup-id="2">
    <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-10-12">
                    <div class="embedVideo popupContent shadow rounded">
                        <iframe data-src="#" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Slide 47 (#47) -->
<section class="slide fade-7 kenBurns" data-title="Servicios" data-name="slide-47-97f83d12">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-9-12 toCenter">
                    <h1 class=" margin-bottom-2 ae-1">Nuestros Servicios</h1>
                    <p class="largest ae-2"><span class="opacity-8">Todo lo que nesecitas como si estubieras en casa</span></p>
                </div>
                <div class="fix-11-12">
                    <ul class="flex flex-47 margin-top-3">
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 ae-3">
                                <i class="material-icons">wifi</i>
                                <h4 class="smallest margin-bottom-1">Se침al Wi-Fi</h4>
                                <p class="small opacity-8">500 mg de subida y bajada.</p>
                            </div>
                        </li>
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 ae-4">
                                <i class="material-icons">hd</i>
                                <h4 class="smallest margin-bottom-1">TV Cable</h4>
                                <p class="small opacity-8">Mas de 106 canales, para que siempre este informado</p>
                            </div>
                        </li>
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 ae-5">
                                <i class="material-icons">kitchen</i>
                                <h4 class="smallest margin-bottom-1">Cocina Equipada</h4>
                                <p class="small opacity-8">Para que prepare los mejores mariscos de la zona</p>
                            </div>
                        </li>
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 ae-6">
                                <i class="material-icons">restaurant</i>
                                <h4 class="smallest margin-bottom-1">restaurant</h4>
                                <p class="small opacity-8">Toda la gastronomia de la zona a menos de 70 metros</p>
                            </div>
                        </li>
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 ae-7">
                                <i class="material-icons">garage</i>
                                <h4 class="smallest margin-bottom-1">Estacionamiento</h4>
                                <p class="small opacity-8">Estacionamiento bajo su caba침a</p>
                            </div>
                        </li>
                        <li class="col-4-12 col-tablet-1-2 col-phablet-1-1">
                            <div class="fix-3-12 ae-8">
                                <i class="material-icons">water</i>
                                <h4 class="smallest margin-bottom-1">Zona de Lavado</h4>
                                <p class="small opacity-8">Contamos con una zona de lavado para clientes</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/muelle.jpg)"></div>
</section>

<!-- Contacts (#8) -->
<!-- Slide 16 (#16) -->
<section class="slide fade-6 kenBurns" data-title="Reserva Ahora" data-name="slide-16-19c87e70">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex fixedSpaces reverse">
                        <li class="col-5-12 left">
                            <p class="margin-bottom-3 font-size-12 uppercase weight-7 ae-1">Lautaro 48,Los Vilos, IV Regi칩n</p>
                            <h2 class="margin-bottom-4 larger weight-7 ae-2">Su <i class="text-blue">familia</i> como en&nbsp;casa</h2>
                            <p class="margin-bottom-2 ae-3">Realice su reserva con anticipaci칩n con Ester Godoy </p>
                            <p class="margin-bottom-4 ae-3">Numero +569/99303900</p>
                            <a href="#" class="crop flat margin-right-2 margin-right-phone-0 margin-bottom-phone-2 button blue text-black round btn-132 ae-4"><span class="font-size-12 uppercase weight-7">Contactanos</span></a>
                            <a href="#" class="crop button white stroke flat round btn-132 ae-5"><span class="font-size-12 uppercase weight-7">Reserve Ahora</span></a>
                        </li>
                        <li class="col-1-12"></li>
                        <li class="col-6-12">
                            <div class="videoThumbnail rounded shadow popupTrigger ae-4 fromCenter margin-bottom-tablet-4" data-popup-id="16-16">
                                <img class="wide" src="#{dir}assets/img/homepage/backgrounds/2.jpg" alt="Video Thumbnail"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/galeria/mar.png)"></div>
</section>





include ../../includes/footer
