

include svg_libraries



<section class="slide fade-6 whiteSlide autoHeight customFooter"  data-title="footer"  >
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex fixedSpaces left">
                        <li class="col-3-12 col-tablet-1-1 padding-bottom-2 ae-3">
                            <a href="#" class="logo"><img src="#{dir}assets/img/homepage/backgrounds/logo.png" alt=""></a>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phone-1-1 ae-3">
                            <h4 class="smallest margin-bottom-2">Noticias y Eventos</h3>
                                <p class="small margin-bottom-1"><a href="#">Verano 2023</a></p>
                                <p class="small margin-bottom-1"><a href="#">Festival Los Vilos</a></p>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phone-1-1 ae-3">
                            <h4 class="smallest margin-bottom-2">Gastronomia y Mariscos</h3>
                                <p class="small margin-bottom-1"><a href="#">Caleta San Pedro</a></p>
                                <p class="small margin-bottom-1"><a href="#">Caleta Las Conchas</a></p>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phone-1-1 ae-4">
                            <h4 class="smallest margin-bottom-2">Atracciones</h3>
                                <p class="small margin-bottom-1"><a href="https://www.munilosvilos.cl/wp-content/uploads/2021/11/MUNICIPALIDAD-DE-LOS-VILOS-MAPA-TURISTICO-LOS-VILOS.gif">Mapa  Turistico</a></p>
                                <p class="small margin-bottom-1"><a href="https://www.lugaresturisticos.org/los-vilos/">Lugares</a></p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<nav class="panel bottom">
    <div class="sections">
        <p>Palmalion@ - Derechos reservados</p>
    </div>
</nav>








</body>
</html>