-

    //- <script>

    const whatsapp = '+56961923035'


    const persona = {

        nombre: 'Maximiliano',
        apellido: 'Aravena',
        edad: 29,
        hobbie: 'Enseñar',
        lista_de_libros: [[1,2,3], 'Papelucho', 'Condorito'],
        mascota: {
            nombre: 'peluchin',
            edad: 3,
            raza: 'Quiltro',
            lista_de_libros: [[1,2,3], 'Papelucho', 'Condorito'],
        },

    }


    const array = [1,2,3,4,5,6]






    //- </script>